body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: #f5f5f5;
color: #222;
}


nav {
background-color: #343334;
padding: 15px;
}


nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
flex-wrap: wrap;
gap: 20px;
}


nav a {
text-decoration: none;
color: #f0f0ea; /* off white */
font-weight: bold;
}


nav a:hover {
opacity: 0.7;
}


header, main {
padding: 40px;
max-width: 900px;
margin: auto;
}


.screenshot-box {
width: 100%;
height: 300px;
background-color: #ddd;
display: flex;
justify-content: center;
align-items: center;
border: 2px dashed #aaa;
margin-top: 20px;
}


.caption {
margin-top: 10px;
font-style: italic;
}