body {
margin: 0;
font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 50px;
  font-style: normal;
background-color: #fbfce6;
color: #392722;
}


nav {
background-color: #392722;
padding: 15px;
}


nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
flex-wrap: wrap;
gap: 20px;
}


nav a {
text-decoration: none;
color: #f0f0ea; 
font-weight: bold;
}


nav a:hover {
opacity: 0.7;
}


header, main {
padding: 40px;
max-width: 900px;
margin: auto;
text-align: center;
}


.screenshots-grid {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
margin-top: 20px;
}


.screenshot-box {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
}


.screenshot-box img {
max-width: 100%;
height: auto;
}


.caption {
margin-top: 10px;
font-style: italic;
text-align: center;
}

h1 {
    
    font-size: 200px;
}