body {
margin: 0;
font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 30px;
  font-style: normal;
background-color: #fbfce6;
color: #392722;
text-align: center;
}

h1 {
    
    font-size: 100px;
    text-align: center;
}

img {
    width: 500px;
    margin: auto;
}