h1 { 
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "YEAR" 1979;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #e9e5d1; 
  padding: 0;
  text-align: center;
   
   

}
body {background-color: #528ce8; 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    color: #e9e5d1;
    text-align: center;
   
}